name: Deploy to S3 and Invalidate CloudFront

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write   # OIDC 필수
  contents: read

env:
  AWS_REGION: ap-northeast-2   # ⚠️ 버킷 리전이 다르면 해당 리전으로 변경
  S3_BUCKET: sojemoa-lsb
  CLOUDFRONT_DISTRIBUTION_ID: E1W9MBDJGMF9A4

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::891612566744:role/GitHubActionsDeployRole
          aws-region: ${{ env.AWS_REGION }}

      - name: Sync files to S3
        run: |
          aws s3 sync . s3://${{ env.S3_BUCKET }}/ \
            --delete \
            --exclude ".git/*" \
            --exclude ".github/*" \
            --exclude "README.md"

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"
